*{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
body{
    overflow-x: hidden;
    margin: 0px;
}
/*Configuracion del encabezado*/


header{
    position: sticky;
	top: 0%;
	left: 0%;
    right: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	transition: 0.9s;
	padding: 53px 0px;
	z-index: 1000;  
    
  
}

.nav-toggle {
    display: none;
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 100px;
    cursor: pointer;
    
    position: absolute;
    right: 15%; /* Ajusta la distancia desde el borde izquierdo */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    z-index: 1000; /* No es necesario especificar "px" en la unidad */

  }
header.abajo{
	background:white;
	padding: 53px 0px;
}
header.abajo .menu img{
	position: absolute;
    top: -31%;
    height: 170px;
}

.navigation ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    
}
.header .navigation ul li a{
    font-size: 24px;
    color: #e62e2d;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .5s ease;
    letter-spacing: 1px;
    position: relative;
    font-weight: 500;
}
.header .navigation ul li a:hover{
    background-color: #0e1d68;
    border-radius: 20px;
    padding: 10px 10px;
    color: white;

}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu img{
    width: 14%;
    height: 125%;
    left: 7%;
    top: 1%;
    bottom: 0%;
    right: 0%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
  
  
    
    
}

.container__footer2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    background-color: #0e1d68;
   
}
.box__footer2 .casa{
    margin-left: -25px;
    margin-top: 0px;
    color: white;
    font-size: 20px;
    
    text-decoration: none;

}

.box__footer2{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.box__footer2 a{
    margin-top: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none;
   
}

.box__footer2 a:hover{
    
    color: red;
}

.box__footer2 a .fab{
    font-size: 20px;
    
}




/*Configuracion de la primera pagina*/
.container2{
    width: 100%;
    margin: auto;
    height: 900px;
  
    overflow: hidden;
    filter: brightness(0.7);
    
}
.container2 ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: slider2 20s infinite alternate;
}
.container2 li{
    width: 100%;
    list-style: none;
}
.container2 li img{
    width: 100%;
    height: 1000px;
}
@keyframes slider2{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.N{
    position: relative;
    top: 0;
    bottom: 0%;
    left: 5%;
    right: 0%;
    text-align: center;
    justify-content: center;
    margin-top: -600px;
    margin-bottom: 500px;
    color: white;
    font-size: 60px;
    width: 90%;
    word-wrap: break-word;

}

span{
    position: relative;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 63ch;
    height: 5%;
    margin: auto;
    margin-top: -400px;
    margin-bottom: 400px;
    left: 0;
    right: 0;
    top: 0%;
    bottom: 0;
    animation: typing 5500ms steps(63) infinite alternate-reverse, 
    blink 5s infinite step-end alternate;
    overflow: hidden;

    font-size: 20px;
    color: white;
}
@keyframes typing{
    from{width: 0;}
    
    
}
@keyframes blink{
    50% {border-color: transparent;}
}
.contenedor-boton {
    position: relative;
    top: 0;
    bottom: 0%;
    left: 0%;
    right: 0%;
    text-align: center;
    justify-content: center;
    margin-top: -200px;
    margin-bottom: 200px;
   
    
}

.button {
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: red;
    color: white;
    transform: scale(1.0);
    cursor: pointer;
}

.button:active {
    transform: scale(0.9);
}



/* Configuracion de Pag2*/



.Somos{
    position: relative;
    font-size: 50px;
    color:#0e1d68;
    left: 3%;
    top: 0%;
    text-align: left;
    justify-content: center;
    
}


.Brismart{
    width: 37%;
    height: 180px;
    border-radius: 5%;
    box-shadow: 16px 14px 20px #101010;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2%;
    top: 0%;
    right: 0%;
    padding: 5px;
    text-align: justify;
}
.Brismart::before{
    content: "";
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: red;
    background-image: conic-gradient(blue 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

    
}
.Brismart::after{
    content: "";
    position: absolute;
    height: 180px;
    width: 99%;
    background-color:white;

}


.canal{
    color: black;
    z-index: 2;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.canal2{
    color: black;
    z-index: 2;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.Vision{
    position: relative;
    width: 50%;
    font-size: 30px;
    color: #0e1d68;
    left: 3%;
    top: 0%;
    right: 0%;
    text-align: left;
    justify-content: center;

}
.parrafoVision{
    position: relative;
    width: 40%;
    text-align: justify;
    top: 0%;
    left: 2%;
    right: 0%;
    justify-content: center;
    align-items: center;
    
   
   
}

.Mision{
    position: relative;
    font-size: 30px;
    color: #0e1d68;
    left: 7%;
    top: 0%;
    right: 0%;
    text-align: left;
    justify-content: left;
    width: 50%;

}
.parrafoMision{
    
    position: relative;
    width: 40%;
    text-align: justify;
    top: 0%;
    left: 2%;
    right: 0%;
    justify-content: center;
    align-items: center;
   
   
}

.slider{
    position:relative;
    top: 0%;
    bottom: 0%;
    left: 40%;
    right: 0%;
    width: 60%;
    height: 850px;
    margin-left: 100px;
    margin-top: -750px;
    overflow: hidden;
    display: flex;
  }
  .slider ul{
      display: flex;
      animation: cambio 15s infinite alternate linear;
      width: 100%;
    
      
  }
  .slider li{
      width: 100%;
      list-style: none;
    
  }
  .slider img{
      width: 1010px;
      height: 800px;
      
      
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      25%{margin-left: 0;}
      
      35%{margin-left: -115%;}
      45%{margin-left: -115%;}
      
      50%{margin-left: -215%;}
      70%{margin-left: -215%;}
      
      75%{margin-left: -315%;}
      100%{margin-left: -315%;}
  }

/* Configuracion de Pag3*/
.Galeria2{
    
    width: 80%;
    height: 700px;
}
.Galeria2 h1 {
    text-align: center;
    justify-content: center;
    margin: 20px 0 15px 0;
    position: absolute;
    left: 0%;
    right: 0%;
    font-size: 50px;
    color: #0e1d68;
    
}


.linea2 {
    border-top: 5px solid;
    margin-left: 170px;
    margin-bottom: 100px;
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 50%) 1;
}

.Contenedor-Imagenes2 {
    display:flex;
    width: 120%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.Contenedor-Imagenes2 .imagen2 {
    width: 27%;
    position: relative;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 30px;
   
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.Contenedor-Imagenes2 .imagen2 img {

    filter: brightness(0.5); /* Aplicar el filtro de oscuridad solo a la imagen */
    transition: filter 0.5s; /* Agregar una transición para suavizar el cambio de filtro */
}

.Contenedor-Imagenes2 .imagen2:hover img {
    filter: brightness(1); /* Cambiar el filtro al 100% en hover */
}
.Contenedor-Imagenes2 h2{
    position: absolute;
    top: 120px;
    font-size: 25px;
    left: 25px;
    color:white;   
    text-transform: uppercase;
    
    width: 100%;
    top: 100px;
}
.imagen2 img {
    width: 120%;
    height: 100%;
    
}



.contenedor-boton1{
    position:absolute;
    top: 200px;
    left: 20px;
 

}
.button1 {
    background-color: blue;
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 50px;
}

.button1:hover {
    background-color: red;
    color: white;
    transform: scale(1.0);
    cursor: pointer;
}

.button1:active {
    transform: scale(0.9);
}
/* Configuracion del footer*/
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 0px;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 50%) 1;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: black;
    /*color: #7a7a7a;*/
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #0e1d68;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover{
    
    color: red;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: left;
    padding: 0px 0px;
   
}

.box__copyright p{
    width: 50%;
    color: #0e1d68;
}
.box__copyright2{
    max-width: 1200px;
    margin: auto;
    text-align: right;
    padding: 0px 0px;
    
}

.box__copyright2 p{
    margin-top: -40px;
    color: #0e1d68;
    
}
.box__copyright2 p a{
    text-decoration: none;
    color: #0e1d68;
}
.box__copyright hr{
    border: none;
    position: relative;
    bottom: 20px;
    height: 5px;
    background: linear-gradient(to right, #4f9cf1ff 50%, red);
}
@media screen and (max-width: 500px){

    .contenedor-boton{
        position: relative;
        top: 140%;
    }
    .container2{
        margin-top: -17px;
    }
    .container__footer2{
        text-align: center;
        justify-content: center;
        margin-top: 100px;
    }
    .box__footer2{
        position: relative;
        left: 50px;   
    }
    .header {
        padding: 40px;
        
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    
   .navigation {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 80px;
   
    left: 100%;
    width: 100%;
    height: 70%;
    transition: left 0.5s ease-in-out;
        
    line-height: 3.5em;
    overflow-y: auto;
}
    .navigation ul{
        right: 0%;
        width: 10%;
        position: absolute;
        top: 0%;
        left: 0%;
        bottom: 30%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
      .navigation_visible {
        left: 0px;
      }
      .nav-toggle{
        display: block;
      }
      header.abajo .nav-toggle{
        right: 15%;
      }
      .nav-toggle:focus:not(:focus-visible) {
        outline: none;
      }
      .menu img{
            position: absolute;
            width: 150px;
            height: 150px;
            left: -5%;
            top: -30px;
            bottom: 0%;
            z-index: 1000px;
      }
      
      header.abajo{
        padding: 40px;
        background-color: white;
      }

      header.abajo .menu img{
        position: absolute;
        top: -40px;
        z-index: 1000;
      }
      header.abajo .navigation{
        background-color: white;
        top: 80px;
        height: 65%;
        padding-top: -100px;
      }
      span{
        font-size: 18px;
        text-wrap: wrap;
        width: 100%;
        text-align: center;
        animation: none;
      }
      
    .Somos{
        position: relative;
        text-align: center;
        justify-content: center;
        left: 0%;
    }
    .Brismart{
        width: 90%;
        border-color: transparent;
        white-space: normal;
        position:relative;
        left: 3%;
        top: 0;
    }
    .slider{
        position:relative;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        width:530px;
        height: 480px;
        margin-top: -500px;
        text-align: center;
        transform: translate(-20%, 115%);
       
    }
    .slider img{
        width: 500px;
        height: 400px;
        
        
    }
    .Mision{
        position: relative;
        left: 0%;
        width: 100%;
        top: 0%;
        text-align: center;
        justify-content: center;
    }
    .parrafoMision{
        position: relative;
        left: 2%;
        width: 92%;
        margin-top: 0%;
    }
    .Vision{
        position: relative;
        left: 0%;
        width: 90%;
        text-align: center;
        justify-content: center;
    }
    .parrafoVision{
        position: relative;
        left: 2%;
        width: 92%;
    }
   
   
    
    .box2 {
        flex-direction: column;
    }
    
    .Galeria2{
        height: 2300px;
        position: relative;
        top: 550px;
        left: 20px;
    }
    .linea2{
        position: relative;
        top: -140px;
        margin-left: 0px;
        margin-right: -50px;
    }
    .Galeria2 h1{
        top: 100px;
        text-align: center;
        justify-content: left;
        position: relative;
        width: 120%;
        font-size: 45px;
        left: 0%;
        right: 0%;
    }
    .Contenedor-Imagenes2{
        display: grid;
        
    }
    .imagen2 img{
        width: 400px;
    }
    .overlay2{
        width: 300px;
    }
    /* Ajusta las posiciones según sea necesario para dispositivos móviles */
    .Nosotros, .Contactanos, .Servicios {
        left: 0;
        right: 0;
        top: initial;
        bottom: 20px;
    }

    .red-social2 {
        top: initial;
        bottom: 20px;
    }

    .Casa,
    .parrafo-footerO {
        left: 0;
        top: initial;
        bottom: 20px;
    }

    .parrafo-footerI,
    .Carta,
    .parrafo-footerE {
        top: initial;
        bottom: 20px;
    }
    .box__copyright p{
   
     
            width: 100%;
           
        
    }
    .box__copyright2 p{
        text-align: left;
        margin-top: 30px;
        color: #7a7a7a;
    }
    .Contenedor-Imagenes2 .imagen2 h2{
        font-size: 20px;
        text-wrap: nowrap;
    }
    .contenedor-boton1{
        text-wrap: nowrap;
    }
    
}
@media screen and (min-width: 501px) and (max-width: 768px){ 

    .nav-toggle {
        display: none;
    }
   
    .menu img{
        position: absolute;
        left: 0%;
        top: 0%;
        width:  23%;

    }
    .contenedor{
        width: 140%;
        font-size: 40px;
        left: -100px;
        top: 50%
    }
    .Presentacion{
        position: relative;
        left: 5%;
        right: 0%;
        text-align: center;
        justify-content: center;
    }

    .box__copyright p{
        text-wrap: nowrap;
    }
    .box__copyright2 p{
        text-align: left;
        margin-top: 30px;
        color: #7a7a7a;
    }
    .Somos{
        text-align: center;
        left: 0%;
    }
    .Brismart{
        width: 95%;
    }
    .slider{
        top: 220px;
    }
    .slider img{
        width: 500px;
        height: 600px;
    }
    .Mision{
        left: 2%;
    }
    
    
    .Contenedor-Imagenes2 .imagen2 h2{
        top: 70px;
        
    }
    .header {
        padding: 50px;
    }
   .navigation {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 199px;
    left: 100%;
    width: 100%;
    height: 60%;
    transition: left 0.5s ease-in-out;
        
  
    overflow-y: auto;
}
    .navigation ul{
        right: 0%;
        width: 10%;
        position: absolute;
        top: 0%;
        left: 0%;
        bottom: 30%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
      .navigation_visible {
        left: 0px;
      }
      .nav-toggle{
        display: block;
      }
      header.abajo .nav-toggle{
        right: 16%;
      }
      .nav-toggle:focus:not(:focus-visible) {
        outline: none;
      }     
      header.abajo{
        padding: 55px;
        background-color: white;
      }
      header.abajo .menu img{
        top: -30px;
      }
      
      header.abajo .navigation{
        background-color: white;
        width: 100%;
        top: 100px;
        height: 60%;
       
      }
}